.home {
  position: relative;
  height: fit-content;
  padding-top: 70px;
}

.bg-image {
  position: absolute;
  inset: 0;
  object-fit: cover;
  z-index: -1;
  background-image: url('/home-bg.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.8;
  transition: 0.5s ease-in-out;
}

/* reset header margins so they don't create unexpected gaps */
.home-header h1, h3 {
  margin: 0 0 70px 0;
  color: var(--darker);
}

.scrolled.bg-image {
  opacity: 0.9;
}

.home-header {
  padding: 150px 0;
  height: 500px;
}

.home-content {
  padding: 70px 20px 50px 30px;
  text-align: left;
  color: #fff;
  background-color: var(--darker);
}

.home-content p {
  padding: 10px 30px;
}

.home-content h2 {
  color: var(--light);
}

.cvac-tooltip {
  display: inline-block;
}

@media (min-width: 1048px) {
  .home {
    padding-top: 150px;
  }

  .home-header {
    height: 500px;
  }

  h1{
    font-weight: 700;
    font-size: 70px;
  }
}

@media (max-width: 520px) {
  .home-content p {
    padding: 0 0px;
  }
}
